h1{
	text-align: center;
	
}

.navbar ul{
	list-sytle-type:none;
	background-color:hsl(0,0%,25%);
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

.nav a{
	color: white;
	text-decoration: none;
	padding: 15px;
	display:block;
	text-aling: center;
}

.navbar a:hover{
	background-color:hsl(0,0%,10%);
}

.navbar li{
	float: left;
}